@mixin respond($phone){
    @if $phone == ss-phone{
        @media (max-width: 400px){ //320px
            @content
        };
    }
    @if $phone == small-phone{
        @media (max-width: 575.98px){ //600px
            @content
        };
    }
    @if $phone == phone{
        @media (max-width: 767.98px){ //600px
            @content
        };
    }
    @if $phone == tab-port{
        @media (max-width: 991.98px){ //900px
            @content
        };
    }
    @if $phone == tab-land{
        @media (max-width: 1199.98px){ //1200px
            @content
        };
    }
    @if $phone == big-desktop{
        @media (max-width: 1399.98px){ //1800 + px
            @content
        };
    }
}


@mixin background($val){
    background-color: $val;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property) {
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    -ms-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration) {
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($function) {
    -webkit-transition-timing-function: $function;
    -moz-transition-timing-function: $function;
    -o-transition-timing-function: $function;
    transition-timing-function: $function;
}

@mixin shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin border-radius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    border-radius: $val;
}

